In [2]:
%matplotlib notebook

In [3]:
#Dependencies and Setup
import csv
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
import time
from scipy.stats import linregress
import scipy.stats as st
import json

#Import API key
from api_key import api_key

#Output File (CSV)
data1="NPD_Data_2018_2019_V2.csv"
data2="NPD_Data_2018_2019_V3.csv"

#Read CSV files
v2=pd.read_csv(data1)
v3=pd.read_csv(data2)

In [4]:
v2.head()

      Month Retailer  StoreType      Category  Units
0  2018 Apr    AAFES        B&M       DAYPACK      0
1  2018 Apr    AAFES        B&M   JACKET/VEST     60
2  2018 Apr    AAFES        B&M    PANT/CAPRI   7401
3  2018 Apr    AAFES  ECOMMERCE  SLEEPING BAG      0
4  2018 Apr    AAFES      OTHER    PANT/CAPRI    -15

In [5]:
v3.head()

   Year Month Retailer StoreType State     Region     Category TY AUR Units
0  2019   Feb    AAFES       B&M    AE      OTHER  JACKET/VEST    NaN     0
1  2019   Feb    AAFES       B&M    AE      OTHER   PANT/CAPRI    NaN    14
2  2019   Feb    AAFES       B&M    AK  NORTHWEST  JACKET/VEST    NaN     0
3  2019   Feb    AAFES       B&M    AK  NORTHWEST   PANT/CAPRI    NaN    28
4  2019   Feb    AAFES       B&M    AL  SOUTHEAST  JACKET/VEST    NaN     2

How many retailers for each version of data

In [8]:
v2_retailers=v2["Retailer"].nunique()
v2_retailers

38

In [10]:
v3_retailers=v3["Retailer"].nunique()
v3_retailers

29

How many different categories for each version of data

In [12]:
v2_cat=v2["Category"].unique()
v2_cat

array(['DAYPACK', 'JACKET/VEST', 'PANT/CAPRI', 'SLEEPING BAG', 'TENT'],
      dtype=object)

In [14]:
v3_cat=v3["Category"].unique()
v3_cat

array(['JACKET/VEST', 'PANT/CAPRI', 'DAYPACK', 'SLEEPING BAG', 'TENT'],
      dtype=object)